<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WeatherSoap" />
                <binding name="LocationsSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="LocationsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.gismeteo.ru/Weather/Weather.asmx"
                binding="basicHttpBinding" bindingConfiguration="WeatherSoap"
                contract="WeatherData.WeatherSoap" name="WeatherSoap" />
            <endpoint address="http://ws.gismeteo.ru/Locations/Locations.asmx"
                binding="basicHttpBinding" bindingConfiguration="LocationsSoap"
                contract="WeatherLocations.LocationsSoap" name="LocationsSoap" />
        </client>
    </system.serviceModel>
</configuration>